.numButton {
  @apply flex justify-center items-center rounded-lg h-12 text-sm font-bold;
  height: calc((100vh - 50vh) / 6);
  background-color: var(--keypad1);
  box-shadow: var(--shadow1);
  box-shadow: 0px 3px 5px var(--shadow1);
  color: var(--text-color);
}
